__pycache__
venv
config.py
*.sqlite
node_modules
svelte/public/build
svelte/package-lock.json

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
